.service-text{
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    margin: 15rem 2rem 3rem 0 ;
 
}
.main-service{
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    margin-left: 3.5rem;
    transform: translateY(30%);
    transition: transform 0.5s ease-in,opacity 0.5s ease-in;
    opacity: 0;
}
.main-service.animate{
    transform: translateY(0);
    opacity: 1;
}
.service{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #00abf0;
    background-color: #00abf0;
    border-radius: 3rem;
    height: 500px;
    width: 85%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
 

}
.service p {
    text-align: center;
    line-height: 1.5em; 
    font-size: .9rem;
    font-weight: 100px;

 
  }
.service h3{
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.service i{
    font-size: 5rem;
    margin-bottom: 1rem;
}
.service:hover{
    transform: scale(1.07);
    background-color: black;
    color: #00abf0;
}
@media (max-width:1024px){
    .service-text{
        margin-left: 2rem;
    }
}